{% extends "base.html" %}

{% block content %}
  <div class="container top-5 mt-7" >
    <div class="row">
      <div class="col-12">
        {% block search %}
          {% include "includes/search.html" %}
        {% endblock %}
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="m-0">Movies:</h1>
          <a href="{% url 'catalog:movie-create' %}" class="btn btn-primary ml-auto">Create</a>
        </div>
        <table class="table">
          <thead>
          <tr>
              <th>Title</th>
              <th>Year</th>
              <th>Directors</th>
              <th>Actors</th>
          </tr>
          </thead>
          <tbody>
            {% for movie in movie_list %}
              <tr>
                <td><a href="{% url 'catalog:movie-detail' pk=movie.id %}">{{ movie.title }}</a></td>
                <td>{{movie.year}}</td>
                <td>
                  {% for director in movie.directors.all %}
                    <a href="{% url 'catalog:director-detail' pk=director.id %}">{{ director }}</a>
                  {% endfor %}
                </td>
                <td>
                  {% for actor in movie.actors.all %}
                    <a href="{% url 'catalog:actor-detail' pk=actor.id %}">{{ actor }}</a>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
